---
layout: base.njk
---

<section class="e404">
    <div class="e404-wrapper">
        <h1 class="e404__heading">Page not found (error 404)</h1>
        <p class="e404__info">There's nothing to see I'm afraid. If you are interested in exploring my work or getting in contact with me, you can follow the links below.</p>
        <a href="{{collections.portfolioReversed[0].url}}" class="button">Explore my portfolio</a>
        <a class="button" href="/#contact">Get in touch</a>
    </div>
</section>