---
layout: base.njk
---

<section class="section-e404">
    <div class="e404">
        <h1 class="e404__heading">Page not found</h1>
        <p class="e404__info">There's nothing to see here I'm afraid. If you are interested in exploring my work or getting in contact with me, you can follow the links below.</p>
        <a href="{{collections.portfolioReversed[0].url}}" class="button e404__link">Explore my portfolio</a>
        <a class="button e404__link" href="/#contact">Get in touch</a>
    </div>
</section>