<!doctype html>
<html lang="en">
    <head>
        <title>Sally Wardle |
            {{title}}</title>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,700;0,800;1,200;1,600&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="/media/favicon.png"/>
        <link rel="stylesheet" href="/css/main.css"/>
        <meta charset="UTF-8">
        <meta name="description" content="Sally Wardle is an experienced freelance print journalist based in London">
        <meta name="keywords" content="freelance, print, journalist, London">
        <meta name="author" content="Sally Wardle">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            {%- if title=="Home" -%}
                <div class="header" id="home">
                    <picture>
                        <source srcset="media/layout/SW_1920x1080.webp" type="image/webp" class="header__image" alt="Sally Wardle">
                        <source srcset="media/layout/SW_1920x1080.jpg" type="image/jpeg" class="header__image" alt="Sally Wardle">
                        <img src="media/layout/SW_1920x1080.jpg" class="header__image" alt="Sally Wardle">
                    </picture>
                </div>
            {%- endif -%}
        </header>
        <main>
            <nav class="nav">
                <!-- if (home) => links internal, else navigate -->
                {%- if title=="Home" -%}
                    <a class="nav__logo" href="#home"><img src="/media/layout/SW_Monogram.png" class="logo" alt="Sally Wardle logo"><h1 class="logo__text-name">Sally Wardle<br><span class="logo__text-journo">journalist</span></h1></a>
                {%- else -%}
                    <a class="nav__logo" href="/"><img src="/media/layout/SW_Monogram.png" class="logo" alt="Sally Wardle logo"><h1 class="logo__text-name">Sally Wardle<br><span class="logo__text-journo">journalist</span></h1></a>
                {%- endif -%}
                <ul class="nav__links links">
                    <!-- may need to use JS to replace latest history, as with portfolio -->
                    {%- if title=="Home" -%}
                        <li class="link">
                            <a class="nav__link" href="#about">About</a>
                        </li>
                        <li class="link">
                            <a class="nav__link" href="#work">My Work</a>
                        </li>
                        <li class="link">
                            <a class="nav__link" href="#contact">Contact</a>
                        </li>
                        {%-else-%}
                        <li class="link">
                            <a class="nav__link" href="/#about">About</a>
                        </li>
                        <li class="link">
                            <a class="nav__link" href="/#work">My Work</a>
                        </li>
                        <li class="link">
                            <a class="nav__link" href="/#contact">Contact</a>
                        </li>
                        {%-endif-%}
                    </ul>
                </nav>

                {{ content | safe }}
            </main>
            <footer class="footer">
                <p class="footer__logo"><img src="/media/layout/SW_Monogram.png" class="logo" alt="Sally Wardle logo"></p>
            </footer>
        </body>
        {%- if title=="Home" -%}
            <script src="/js/home.js"></script>
        {%-elif title=="Portfolio"-%}
            <script src="/js/portfolio.js"></script>
        {%- endif -%}
    </html>