<!doctype html>
<html lang="en">
    <head>
        <title>Sally Wardle | {{title}}</title>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Elsie&family=Spectral:ital,wght@0,200;0,300;0,400;1,400&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
        <link rel="stylesheet" href="/css/new-style.css"/>
    </head>
    <body>
        {{ content | safe }}
        <footer class="footer">
            <p class="logo footer__logo">Sally Wardle</p>
        </footer>
    </body>
    <script src="/js/main.js"></script>
</html>