---
layout: base.njk
---

<section class="section-about">
    <div id="about" class="u-anchor"></div>
    <div class="section-about__content u-padding-bottom">
        {%- for info in collections.about -%}
            <h2 class="section-about__title u-padding-top u-padding-bottom">{{info.data.title}}</h2>
            <span class="section-about__text"> {{info.templateContent | safe}}</span></p>
        {%- endfor -%}
        <a href="#contact" class="section-about__contact button">Get in touch</a>
    </div>
</section>

<section class="section-portfolio u-padding-bottom-large">
    <div id="work" class="u-anchor"></div>
    <h2 class="section-portfolio__title u-padding-top u-padding-bottom">My work</h2>
    <div class="section-portfolio__wrapper u-padding-bottom">
    {%- for article in collections.portfolioReversed -%}
        {%- if article.data.featured == true -%}
            <article tabindex="0" id="article{{loop.index0}}" class="article-card">
                <div class="article-card__side article-card__side--front">
                    <img src="{{article.url}}{{article.data.thumb}}" class="article-card__thumb" alt="{{article.data.title}}">
                </div>
                <div class="article-card__side article-card__side--back">
                    <img src="{{article.url}}{{article.data.image}}" class="article-card__image" alt="{{article.data.title}}">
                    <h3 class="article-card__title" id="articleHeading{{loop.index0}}">{{article.data.title}}</h3>
                    <a href="{{article.url}}" class="article-card__link button" aria-labelledby="articleHeading{{loop.index0}}">Read more</a>
                </div>
            </article>
        {%- endif -%}
    {%- endfor -%}
    </div> 
    <a href="{{collections.portfolioReversed[0].url}}" class="button section-portfolio__link">Explore my portfolio</a>
</section>

<section class="section-contact u-padding-bottom-large">
    <div id="contact" class="u-anchor"></div>
    <div class="section-contact__header u-padding-bottom">
        {%- for info in collections.contact -%}
            <h2 class="section-contact__title u-padding-top u-padding-bottom">{{info.data.title}}</h2>
            <span class="section-contact__text contact__text u-padding-bottom">{{info.templateContent | safe}}</span>
        {%- endfor -%}
    </div>
    <form name="contact" method="POST" data-netlify="true" action="/" class="form">
        <div class="form__wrapper">  
            <label for="name" class="form__label">Name <span aria-label="required">*</span></label>
            <input type="text" name="name" id="name" class="form__input" required />
            <div class="form__error">-</div>
            
            <label for="email" class="form__label">Email <span aria-label="required">*</span></label>
            <input type="email" name="email" id="email" class="form__input" required />
            <div class="form__error">-</div>
            
            <label for="message" class="form__label">Message <span aria-label="required">*</span></label>
            <textarea name="message" id="message" class="form__input" required></textarea>
            <div class="form__error">-</div>
        </div>
        <div class="form__submission">
            <button type="submit" class="button form__submit">Send</button>
            <p class="form__thanks">Thank you for getting in touch!</p>
        </div>
    </form>
</section>