---
layout: base.njk
---

<header class="header">
    <div class="header__image-wrapper">
        <img src="images/layout/sally-hero.jpg" class="header__image">
    </div>
    <div class="header__text">
        <h1 class="logo header__title">Sally Wardle</h1>
        <h2 class="header__tag">Freelance journalist <br> and writer</h2>
    </div>
</header>

<nav class="nav">
    <a class="logo nav__logo" href="./">Sally Wardle</a>
    <ul class="nav__links"><!--should be unordered list-->
        <li><a class="nav__link" href="#about">About</a></li>
        <li><a class="nav__link" href="#articles">Articles</a></li>
        <li><a class="nav__link" href="#contact">Contact</a></li>
    </ul>
</nav>

<section class="section-about">
    ABOUT
</section>

<section class="section-portfolio">
{%- for portfolio in collections.portfolioReversed -%}
<!--if article 'featured' = true -->
    <article tabindex="0" id="article{{loop.index0}}" class="article-card">
        <div class="article-card__side article-card__side--front">
            <img src="{{portfolio.data.tear}}" class="article-card__tear">
        </div>
        <div class="article-card__side article-card__side--back">
            <img src="{{portfolio.data.thumbnail}}">
            <h3 class="article-card__title">{{portfolio.data.title}}</h3>
            <a href="{{portfolio.url}}" tabindex="-1" class="article-card__link">Read more &rarr;</a>
        </div>
    </article>
{%- endfor -%}
</section>

<section class="section-testimonials">
    TESTIMONIALS

    <a href="#"><img class="testimonial__icon" src="/images/icons/linkedin.svg"></a>
    <a href="#"><img class="testimonial__icon" src="/images/icons/twitter.svg"></a>
    <a href="#"><img class="testimonial__icon" src="/images/icons/medium.svg"></a>
</section>

<section class="section-contact">
    <form name="contact" method="POST" data-netlify="true" action="/" class="form">
        <label for="name">Your name<span>*</span></label>
        <input type="text" name="name" id="name" required />
        <div class="form__error"></div>
        <label for="email">Your email<span>*</span></label>
        <input type="email" name="email" id="email" required />
        <div class="form__error"></div>
        <label for="message">Your message<span>*</span></label>
        <textarea name="message" id="message" required></textarea>
        <div class="form__error"></div>
        <button type="submit">Send</button>
    </form>
</section>