--- 
layout: base.njk 
---

<div class="portfolio">
    <nav class="portfolio__nav port-nav">
        <h3 class="port-nav__heading">Portfolio</h3>
        <ul class="port-nav__links">
            {%- for article in collections.portfolioReversed -%}
                {%- if article.data.title == title -%}
                    <li class="port-nav__item--current">
                        <p class="port-nav__link">{{article.data.title}}</p>
                {%- else -%}
                    <li class="port-nav__item">
                        <a href="{{article.url}}" class="port-nav__link">{{article.data.title}}</a>
                {%- endif -%}
                    <p class="port-nav__journal">Published in {{article.data.journal}}</p>
                    <p class="port-nav__date">{{article.data.date.toDateString()}}</p>
                </li>
            {%- endfor -%}
        </ul>
    </nav>

    <article class="portfolio__article article" id="articleTop">
        <div class="article__image-wrapper">
            <img src="{{image}}" alt="{{title}}" class="article__image">
        </div>
        <nav class="article__phone-nav">
            {%- if prevPost.url -%} <a href="{{ prevPost.url }}" class="article__phone-nav--left">< {{prevPost.data.title}}</a> {%-endif-%}
            {%- if nextPost.url -%} <a href="{{ nextPost.url }}" class="article__phone-nav--right">{{nextPost.data.title}} ></a> {%-endif-%}
        </nav>
        <header class="article__header">
            <h1 class="article__title">{{title}}</h2>
            <div class="article__info">
                <p class="article__detail">Published in <a href={{link}} class="article__journal">{{journal}}</a> on <time class="article__date">{{date.toDateString()}}</time></p>
                <a href="{{pdf}}" class="article__pdf button" download>Download<br>original PDF</a>
            </div>
        </header>
        <div class="article__wrapper">
            {{ content | safe }}
        </div>
        <nav class="article__phone-nav">
            {%- if prevPost.url -%} <a href="{{ prevPost.url }}" class="article__phone-nav--left">< {{prevPost.data.title}}</a> {%-endif-%}
            {%- if nextPost.url -%} <a href="{{ nextPost.url }}" class="article__phone-nav--right">{{nextPost.data.title}} ></a> {%-endif-%}
        </nav>
        <div class="article__top-wrapper">
            <a class="article__top" href="#">Back to top</a>
        </div>
    </article>
</div>