--- 
layout: base.njk 
---

<div class="portfolio">
    <nav class="portfolio__nav port-nav">
        <h3 class="port-nav__heading">Portfolio</h3>
        <ul class="port-nav__links">
            {%- for article in collections.portfolioReversed -%}
                <li class="port-nav__item">
                    <a href="{{article.url}}" class="port-nav__link">{{article.data.title}}
                    <p class="port-nav__date">{{article.data.date.toDateString()}}</p></a>
                </li>
            {%- endfor -%}
        </ul>
    </nav>

    <article class="portfolio__article article">
        <img src="{{thumb}}" alt="{{title}}" class="article__image">
        <header class="article__header">
            <h1 class="article__title">{{title}}</h2>
            <div class="article__info">
                <p class="article__detail">Published in <span class="article__journal">{{journal}}</span> on <time class="article__date">{{date.toDateString()}}</time></p>
                <a href="" class="article__pdf">Download as PDF</a>
            <div>
        </header>
        <div class="article__wrapper">
            {{ content | safe }}
        </div>
    </article>
</div>