.u-padding-bottom {
    padding-bottom: 2rem;
}

.u-padding-bottom-large {
    padding-bottom: 10rem;
}

.u-padding-top {
    padding-top: 5rem;
}

.u-anchor {
    position: absolute;
    top: -$nav-height;
}

@media only screen and (max-width: 600px) {
    .mob-hide{
        display:none;
    }

    .u-anchor {
        position: absolute;
        top: -7rem;
    }
}