.section-e404 {
    min-height: calc(100vh - #{$nav-height} - #{$foot-height});
    margin: 0 5rem;
}

.e404 {
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    color: $colour-primary;

    &__heading{
        font-size: 6rem;
        font-weight: 300;
        padding: 7rem 0 3rem;
        text-transform: uppercase;
    }

    &__info{
        font-size: 4rem;
        font-weight: 200;
        padding-bottom: 2.5rem;
    }

    &__link:link, &__link:visited {
        font-size: 3rem;
        color: $colour-primary;
        margin: 0 auto;
        padding-bottom: 2.5rem;

        &:hover{
            background-color: $colour-primary;
            color: $colour-white-light;
        }
    }
}