.section-about {
  background-color: $colour-white-light;
  background-size: cover;
  position: relative;
  padding-bottom: 2rem;

  &__content {
    margin: 0 auto;
    color: $colour-black-dark;
    display: flex;
    max-width:60%;
    flex-direction: column;
  }

  //break point 774
  &__title {
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.3rem;
    font-size: 5rem;
  }

  &__text {
    font-size: 2.9rem;
    text-align: center;

    & > p {
      margin-bottom: 2.5rem;
    }
  }
  &__contact {
    color: hsl(215, 15%, 27%);
    margin: 0 auto;

    &:hover {
      color: $colour-white-light;
      background-color: hsl(215, 15%, 27%);
    }
  }
}

hr {
  width: 80%;
  margin-left: 10%;
  border-top: .1rem solid $colour-black-dark;;
}

.section-portfolio {
  background-color: $colour-white-light;
  position: relative;

  &__title {
    display: block;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.3rem;
    font-size: 5rem;
    text-transform: uppercase;
    color: $colour-black-dark;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__link {
    color: hsl(215, 15%, 27%);
    margin: 0 auto;

    &:hover {
      color: $colour-white-light;
      background-color: hsl(215, 15%, 27%);
    }
  }
}

.section-contact {
  display: block;
  position: relative;
  max-width: 100%;
  background-color: $colour-white-light;

  &__header {
    max-width: 100%;
    background-color: $colour-white-light;
    background-size: cover;
    padding: 0 15rem 2rem;
    margin-bottom: 12rem;
    color: $colour-black-dark;
  }
  &__title {
    font-weight: 300;
    letter-spacing: 0.3rem;
    font-size: 5rem;
    text-align: center;
  }
  &__text {
    font-size: 2.9rem;
    text-align: center;

    & > p {
      margin-bottom: 2.5rem;
    }

    & > p > a:link,
    & > p > a:visited {
      color: $colour-black-dark;;
    }
    & > p > a:hover {
      color: hsl(340, 83%, 75%);
    }
  }
}

@media only screen and (max-width: 600px) {
  .section-contact__header,
  .section-about {
    max-width: 100%;
  }

  .section-about {
    &__content {
      margin:0 auto;
      max-width: 80%;
    }
    &__title {
      padding-left: 3rem;
      font-size: 4rem;
    }
    &__text {
      padding: 0 2rem;
      font-size: 2rem;
    }
    &__contact {
      margin-left: 3rem;
      font-size: 2rem;
    }
  }

  .section-portfolio {
    &__title {
      font-size: 4rem;
    }
    &__link {
      font-size: 2rem;
    }
  }

  .section-contact {
    &__header {
      padding: 0 3rem 1.5rem;
      margin: 0 auto 6rem;
    }
    &__title {
      padding-left: 3rem;
      font-size: 4rem;
    }
    &__text {
      font-size: 2rem;
    }
  }
}
