.portfolio {
    display: flex;
    flex-direction: row;
    width:100%;

    &__nav {
        width: 30rem;
        height: 100vh;
        position: fixed;
        overflow-y: scroll;
        margin-bottom: 10rem;
    }

    &__article {
        margin-left:30rem;
        max-width: calc(100% - #{30rem});
    }
}

@media only screen and (max-width: 600px) {
    .portfolio{
        &__nav{
            height: 100%;
            max-width:12rem;
        }
        &__article{
            max-width: calc(100vw - #{12rem});
            margin-left:12rem;
        }
    }

}

.port-nav {

    border-right: .1rem solid $colour-primary;
    background-color: $colour-white-light;
    z-index: 1;

    &__heading {
      width: 100%;
      font-size: 3.5rem;
      font-weight: 700;
      letter-spacing: .3rem;
      text-transform: uppercase;
      text-align: left;
      padding:3rem 1rem 2rem 2rem;
      user-select: none;
    }
  
    &__links {
      list-style: none;
      padding: 0 2rem;
    }

    &__item {
        position: relative;

        &::before, &::after {
            content: "";
            display: block;
            margin-left:50%;
            width: 0;
            height: .2rem;
            background-color: $colour-black-light;
            transition: all .4s;
        }

        &::before{
            content: "";
            margin-bottom: .5rem;
        }

        &::after {
            content: "";
            margin-top: .9rem;
        }
      
          &:hover {
            color: #222;
            background-color: hsla(340, 33%, 96%,.5);
      
            &::before, &::after {
                margin-left: 0%;
                width: 100%;
            }
          }
    }
    
    &__link {
        display: block;
        width: 100%;
        height:9rem;
        padding: 1.4rem 0;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: .1rem;
        text-decoration: none;
        color: $colour-black-dark;
        transition: all .3s;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }

    &__journal, &__date {
        letter-spacing: initial;
        margin-top: .2rem;
    }

    &__journal {
        font-size: 1.5rem;
        font-weight: 300;
    }

    &__date {
        font-size: 1.3rem;
        font-weight: 600;
        font-style: italic;
        padding-bottom: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .port-nav{
        &__heading{
            font-size:1rem;
            padding:2rem 1rem;
        }
        &__links{
            padding: 0 1rem;
        }
        &__link{
            height: 3rem;
            padding: .4rem 0;
            font-size: .8rem;
        }

        &__journal {
            font-size: .6rem;
        }
    
        &__date {
            font-size: .5rem;
            padding-bottom: .3rem;
        }
    }
}

.article {
    position: relative;
    background-color: $colour-white-light;

    &__image-wrapper{
        height:50rem;
        width: 100%;
        background-color: #eee;
        box-shadow: 0 0 1rem #777;
        overflow: hidden;
    }

    &__image {
        position: absolute;
        transform: translateX(-50%);
        left:50%;
        display: block;
        object-fit: cover;
        width: 100%;
        height: 50rem;
    }

    &__header {
        padding:0 4rem;
    }
    
    &__title {
        font-size: 3.7rem;
        font-weight: 700;
        padding:4rem 0 3rem;
    }

    &__info {
        display: flex;
        flex-direction: row;
        padding:0 1rem;
        font-size: 1.3rem;
        align-items: center;
        justify-content: space-between;
    }

    &__journal, &__date {
        white-space: nowrap;
        font-weight: 600;
    }

    &__journal{
        &:link,&:visited{
        color:#303741;
        font-size: 2rem;
        }
        &:hover{
            color: hsl(340, 83%, 65%);;
        }
    }

    &__detail {
        letter-spacing: .08rem;
        font-size: 1.8rem;
    }
    
    &__pdf {
        margin: -.5rem 1.5rem 0;
        font-size: 1.3rem;
        white-space: nowrap;
        border: .1rem solid $colour-black-dark;
        color:$colour-black-dark;

        &:hover {
            color:$colour-white-light;
            background-color:$colour-black-dark;
        }
    }

    &__wrapper {
        padding:5rem 5rem 7rem;
        text-align: justify;

        & > p {
            font-size: 2rem;
            letter-spacing: .1rem;
            font-weight: 300;
            display: block;

            &:not(:first-child) {
                margin-top: 2rem;
            }

            &:not(:last-child) {
                margin-bottom: 2rem;
            }

            & > em {
                font-weight: 200;
                font-style: italic;

                & > strong {
                    font-weight: 600;
                }
            }
    
            & > strong {
                font-weight: 700;

                & > em {
                    font-weight: 600;
                    font-style: italic;
                }
            }
    
            & > a:link, & > a:visited {
                color: hsl(340, 63%, 60%);
                text-decoration: none;
                padding: 0 .4rem; 
                border: .3rem dotted transparent;

                &:hover {
                    border-color: #222;
                }
            }
            
            & > img {
                display: block;
                margin: 3rem auto;
                max-width: 100%;
                box-shadow: 0rem .3rem .7rem #444;
            }
        }

        & > blockquote {
            display: block;
            letter-spacing: .2rem;
            font-weight: 200;
            padding: 3rem;
            margin: 4rem 2rem 6rem;
            text-align: center;
            background-color: hsla(340, 33%, 96%,.5);
            color: #222;
            box-shadow: $shadow-shallow;
            font-size: 1.9rem;
        }

        & > h2 {
            margin:4rem 0 2rem;
            font-size: 4rem;
        }
    }

    &__top-wrapper{
        display: flex;
        align-items: flex-start;
        position: absolute;
        top:110vh;
        bottom:3rem;
        right:2rem;
    }

    &__top {
        opacity: 70%;
        text-transform: uppercase;
        font-weight: 300;
        height: fit-content;
        position: sticky;
        top:90vh;
        font-size: 2.2rem;
        padding: 1rem 1.5rem;
        text-decoration: none;
        box-shadow: 0 0.2rem .4rem #aaa;
        border-radius: .3rem;
        z-index: 3;
        background-color: hsla(340, 33%, 96%,1);
        transition: all .4s;
        border: .1rem solid #303741;
        color: #303741;

        &:hover{
            opacity:100%;
        }
    }
  }

@media only screen and (max-width: 600px) {
    .article {
        &__image-wrapper{
            height:10rem;
        }
        &__image{
            height:fit-content;
        }
        &__header{
            padding:0 1rem;
            margin-top:7rem;
        }
        &__title{
            font-size: 1.75rem;
        }
        &__top{
            top:90%;
            &-wrapper{
                top:220vh;
            }
        }
        &__wrapper>p{
            font-size: 2.5rem;
            font-weight: 400;
        }
    }
}