---
layout: base.njk
---

<h2>Here is my work</h2>

<section>
{%- for portfolio in collections.portfolioReversed -%}
    <article>
        <h3>{{portfolio.data.title}}</h3>
        <a href="{{portfolio.url}}"></a>
        <img src="{{portfolio.data.thumbnail}}">
    </article>
{%- endfor -%}
</section>