html {
  scroll-behavior: smooth; }

/* width */
::-webkit-scrollbar {
  width: 1.2rem; }

/* Track */
::-webkit-scrollbar-track {
  border-radius: .3rem;
  background-color: #dbdce1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303741;
  border-radius: .3rem;
  transition: all 2s; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b434f; }

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  box-sizing: border-box; }

.mobile-guidance {
  display: none;
  font-size: 4rem;
  text-align: center;
  margin-left: 9rem;
  font-weight: 300; }

@media only screen and (max-width: 600px) {
  body {
    width: fit-content; }
  .mobile-guidance {
    display: initial; } }

* {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400; }

.logo {
  height: 6rem;
  position: relative;
  padding-right: 12.4rem; }
  .logo__text-name {
    position: absolute;
    display: inline-block;
    font-weight: 800;
    font-size: 1.5rem;
    color: black;
    letter-spacing: .2rem;
    text-transform: uppercase;
    line-height: 1.1;
    left: 14.3rem;
    bottom: 5rem; }
  .logo__text-journo {
    position: absolute;
    display: inline-block;
    font-weight: 400;
    font-size: 1.5rem;
    color: black;
    letter-spacing: .3rem;
    line-height: 1.1;
    text-transform: uppercase; }

.u-padding-bottom {
  padding-bottom: 2rem; }

.u-padding-bottom-large {
  padding-bottom: 10rem; }

.u-padding-top {
  padding-top: 5rem; }

.u-anchor {
  position: absolute;
  top: -12.4rem; }

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: transparent;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  padding: 1rem 1.7rem;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: .3rem;
  width: fit-content;
  text-align: center;
  border-radius: .3rem;
  transition: all .2s; }
  .button:hover {
    background-color: #f5f6fa;
    color: #3b434f; }

@media only screen and (max-width: 600px) {
  .button {
    font-size: 3.3rem; } }

.article-card {
  height: 30rem;
  width: 35rem;
  margin: 3rem;
  -moz-perspective: 150rem;
  perspective: 120rem;
  position: relative; }
  .article-card__side {
    box-shadow: 0 1.5rem 3rem rgba(48, 55, 65, 0.15);
    overflow: hidden;
    border-radius: .3rem;
    transition: all .8s;
    backface-visibility: hidden;
    border-radius: .3rem;
    height: 100%;
    width: 100%; }
    .article-card__side--front {
      background-color: #f8f1f4;
      transform: rotateY(0deg); }
    .article-card__side--back {
      position: absolute;
      background-color: #222;
      top: 0;
      left: 0;
      transform: rotateY(-180deg);
      height: 100%;
      width: 100%; }
  .article-card:hover .article-card__side--front {
    transform: rotateY(180deg); }
  .article-card:hover .article-card__side--back {
    transform: rotateY(0deg); }
  .article-card:focus {
    outline-offset: .3rem;
    outline: 0.4rem solid #192b57; }
  .article-card__thumb, .article-card__image, .article-card__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }
  .article-card__image {
    filter: brightness(18%); }
  .article-card__title {
    text-align: center;
    font-size: 3rem;
    padding: 0 2rem 0;
    top: 14rem;
    color: #f5f6fa;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; }
  .article-card__link {
    position: absolute;
    color: #f5f6fa;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.5rem; }

@media only screen and (max-width: 600px) {
  .article-card {
    width: 50rem;
    height: 40rem; }
    .article-card__title {
      top: 15rem;
      font-size: 4rem; }
    .article-card__link {
      bottom: 4rem; } }

.form {
  display: block;
  max-width: 50rem;
  margin: 0 auto; }
  .form__label, .form__input {
    display: block; }
  .form__label {
    margin-bottom: 2.2rem;
    font-size: 2.3rem;
    font-weight: 400;
    letter-spacing: .1rem;
    line-height: .7; }
    .form__label > span {
      color: #363c49; }
  .form__input {
    font-size: 2rem;
    font-weight: 300;
    border-radius: .3rem;
    border: 0.2rem solid #3b434f;
    padding: 1.5rem;
    background-color: #fcf8f9;
    min-width: 100%;
    max-width: 100%; }
    .form__input:focus {
      outline-offset: .3rem;
      outline: 0.4rem solid #3b434f; }
    .form__input:only-of-type {
      min-height: 15rem; }
  .form__error {
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    height: 2rem;
    min-height: 2rem;
    padding: 1.5rem;
    margin-bottom: 3rem;
    font-size: 1.8rem;
    color: #a30000; }
  .form__submission {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .form__submit {
    color: #3b434f;
    margin-left: 2rem; }
    .form__submit:hover {
      color: #f5f6fa;
      background-color: #3b434f; }
  .form__thanks {
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    font-size: 2.3rem;
    font-weight: 400;
    margin: 0 2rem .3rem 0;
    color: #186600;
    transition: all .3s; }

.header {
  height: calc(100vh - 12.4rem);
  width: 100%;
  position: relative;
  overflow-x: hidden;
  box-shadow: 0 .2rem 3rem #ccc; }
  .header__image {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    object-fit: cover;
    object-position: center;
    min-width: 100%;
    height: 100%; }

@media only screen and (max-width: 600px) {
  .header {
    height: calc(185vh - 12.4rem); } }

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #f8f1f4;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
  box-shadow: 0 0rem .7rem #ccc; }
  .nav__logo {
    padding: 1rem 2rem;
    display: inline-block;
    color: #718094; }
    .nav__logo:hover {
      outline: .1rem solid; }
    .nav__logo:active {
      outline: .1rem solid; }
  .nav__links {
    float: right;
    margin-right: .5rem; }
  .nav__link {
    display: inline-block;
    height: 100%;
    text-decoration: none;
    color: #303741;
    padding: 0 2rem;
    font-weight: 400;
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .3rem; }
    .nav__link::after {
      content: "";
      float: left;
      margin-left: 50%;
      width: 0;
      height: .2rem;
      background-color: #363c49;
      transition: all .3s; }
    .nav__link:hover {
      color: #222; }
      .nav__link:hover::after {
        margin-left: 10%;
        width: 80%; }

.links {
  display: flex;
  align-items: center;
  list-style: none; }

.footer {
  height: 10rem;
  background-color: #f8f1f4;
  text-align: center;
  padding: 2rem 0;
  position: relative;
  box-shadow: 0 0rem .7rem #ccc;
  z-index: 2; }
  .footer__logo {
    color: #f5f6fa;
    font-size: 5rem; }

@media only screen and (max-width: 600px) {
  .footer {
    padding-left: 10rem; } }

.section-about {
  background-image: linear-gradient(90deg, rgba(168, 164, 165, 0.3) 0%, rgba(65, 62, 63, 0.75) 18%, rgba(65, 62, 63, 0.75) 80%, rgba(168, 164, 165, 0.1) 100%), url(../media/layout/papers.jpeg);
  background-size: cover;
  position: relative;
  padding-bottom: 2rem; }
  .section-about__content {
    margin: 0 20%;
    width: 60%;
    color: #dbdce1;
    display: flex;
    flex-direction: column; }
  .section-about__title {
    font-weight: 300;
    letter-spacing: 0.3rem;
    font-size: 5rem; }
  .section-about__text {
    font-size: 2.9rem;
    font-weight: 300;
    text-align: left; }
    .section-about__text > p {
      margin-bottom: 4rem; }
  .section-about__contact {
    color: #f5f6fa;
    margin: 1rem 0; }

.section-portfolio {
  background-color: #f5f6fa;
  position: relative; }
  .section-portfolio__title {
    display: block;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.3rem;
    font-size: 5rem;
    text-transform: uppercase;
    color: #303741; }
  .section-portfolio__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .section-portfolio__link {
    color: #3b434f;
    margin: 0 auto; }
    .section-portfolio__link:hover {
      color: #f5f6fa;
      background-color: #3b434f; }

.section-contact {
  display: block;
  position: relative;
  width: 100%;
  background-color: #f5f6fa; }
  .section-contact__header {
    width: 100vw;
    background-image: linear-gradient(90deg, rgba(168, 164, 165, 0.3) 0%, rgba(65, 62, 63, 0.75) 18%, rgba(65, 62, 63, 0.75) 80%, rgba(168, 164, 165, 0.1) 100%), url(../media/layout/papers.jpeg);
    background-size: cover;
    padding: 0 20% 2rem;
    margin-bottom: 12rem;
    color: #f8f1f4; }
  .section-contact__title {
    font-weight: 300;
    letter-spacing: 0.3rem;
    font-size: 5rem; }
  .section-contact__title {
    font-weight: 300;
    letter-spacing: 0.3rem;
    font-size: 5rem; }
  .section-contact__text {
    width: 70%; }
    .section-contact__text > p > a:link,
    .section-contact__text > p > a:visited {
      color: #f8f1f4; }
    .section-contact__text > p > a:hover {
      color: #f8b9ce; }
  .section-contact__text {
    font-size: 2.9rem;
    font-weight: 300;
    text-align: left; }
    .section-contact__text > p {
      margin-bottom: 4rem; }

@media only screen and (max-width: 600px) {
  .section-contact__header, .section-about {
    width: 100%;
    background-image: linear-gradient(90deg, rgba(168, 164, 165, 0) 0%, rgba(168, 164, 165, 0.3) 10%, rgba(65, 62, 63, 0.8) 18%, rgba(65, 62, 63, 0.8) 82%, rgba(168, 164, 165, 0.1) 90%, rgba(168, 164, 165, 0) 100%), url(../media/layout/papers.jpeg); } }

.portfolio {
  display: flex;
  flex-direction: row;
  width: 100%; }
  .portfolio__nav {
    width: 30rem;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    margin-bottom: 10rem; }
  .portfolio__article {
    margin-left: 30rem;
    width: calc(100% - 30rem); }

@media only screen and (max-width: 600px) {
  .portfolio__nav {
    height: 100%; } }

.port-nav {
  border-right: 0.1rem solid #192b57;
  background-color: #f5f6fa;
  z-index: 1; }
  .port-nav__heading {
    width: 100%;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-transform: uppercase;
    text-align: left;
    padding: 3rem 1rem 2rem 2rem;
    user-select: none; }
  .port-nav__links {
    list-style: none;
    padding: 0 2rem; }
  .port-nav__item {
    position: relative; }
    .port-nav__item::before, .port-nav__item::after {
      content: "";
      display: block;
      margin-left: 50%;
      width: 0;
      height: .2rem;
      background-color: #363c49;
      transition: all .4s; }
    .port-nav__item::before {
      content: "";
      margin-bottom: .5rem; }
    .port-nav__item::after {
      content: "";
      margin-top: .9rem; }
    .port-nav__item:hover {
      color: #222;
      background-color: rgba(248, 241, 244, 0.5); }
      .port-nav__item:hover::before, .port-nav__item:hover::after {
        margin-left: 0%;
        width: 100%; }
  .port-nav__link {
    display: block;
    width: 100%;
    height: 9rem;
    padding: 1.4rem 0;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .1rem;
    text-decoration: none;
    color: #303741;
    transition: all .3s;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; }
    .port-nav__link::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
  .port-nav__journal, .port-nav__date {
    letter-spacing: initial;
    margin-top: .2rem; }
  .port-nav__journal {
    font-size: 1.5rem;
    font-weight: 300; }
  .port-nav__date {
    font-size: 1.3rem;
    font-weight: 600;
    font-style: italic;
    padding-bottom: 1rem; }

.article {
  position: relative;
  background-color: #f5f6fa; }
  .article__image-wrapper {
    height: 50rem;
    max-width: 100%;
    background-color: #eee;
    box-shadow: 0 0 1rem #777;
    overflow: hidden; }
  .article__image {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    display: block;
    object-fit: cover;
    width: auto;
    height: 50rem; }
  .article__header {
    padding: 0 4rem; }
  .article__title {
    font-size: 3.7rem;
    font-weight: 700;
    padding: 4rem 0 3rem; }
  .article__info {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    font-size: 1.3rem;
    align-items: center;
    justify-content: space-between; }
  .article__journal, .article__date {
    white-space: nowrap;
    font-weight: 600; }
  .article__journal:link, .article__journal:visited {
    color: #303741;
    font-size: 2rem; }
  .article__journal:hover {
    color: #f05c8d; }
  .article__detail {
    letter-spacing: .08rem;
    font-size: 1.8rem; }
  .article__pdf {
    margin: -.5rem 1.5rem 0;
    font-size: 1.3rem;
    white-space: nowrap;
    border: 0.1rem solid #303741;
    color: #303741; }
    .article__pdf:hover {
      color: #f5f6fa;
      background-color: #303741; }
  .article__wrapper {
    padding: 5rem 5rem 7rem;
    text-align: justify; }
    .article__wrapper > p {
      font-size: 2rem;
      letter-spacing: .1rem;
      font-weight: 300;
      display: block; }
      .article__wrapper > p:not(:first-child) {
        margin-top: 2rem; }
      .article__wrapper > p:not(:last-child) {
        margin-bottom: 2rem; }
      .article__wrapper > p > em {
        font-weight: 200;
        font-style: italic; }
        .article__wrapper > p > em > strong {
          font-weight: 600; }
      .article__wrapper > p > strong {
        font-weight: 700; }
        .article__wrapper > p > strong > em {
          font-weight: 600;
          font-style: italic; }
      .article__wrapper > p > a:link, .article__wrapper > p > a:visited {
        color: #d95984;
        text-decoration: none;
        padding: 0 .4rem;
        border: .3rem dotted transparent; }
        .article__wrapper > p > a:link:hover, .article__wrapper > p > a:visited:hover {
          border-color: #222; }
      .article__wrapper > p > img {
        display: block;
        margin: 3rem auto;
        max-width: 100%;
        box-shadow: 0rem .3rem .7rem #444; }
    .article__wrapper > blockquote {
      display: block;
      letter-spacing: .2rem;
      font-weight: 200;
      padding: 3rem;
      margin: 4rem 2rem 6rem;
      text-align: center;
      background-color: rgba(248, 241, 244, 0.5);
      color: #222;
      box-shadow: 0 1rem 2rem rgba(54, 60, 73, 0.15);
      font-size: 1.9rem; }
    .article__wrapper > h2 {
      margin: 4rem 0 2rem;
      font-size: 4rem; }
  .article__top-wrapper {
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 110vh;
    bottom: 3rem;
    right: 2rem; }
  .article__top {
    opacity: 70%;
    height: fit-content;
    position: sticky;
    top: 90vh;
    font-size: 2.2rem;
    padding: 1rem 1.5rem;
    text-decoration: none;
    box-shadow: 0 0.2rem .4rem #aaa;
    border-radius: .3rem;
    z-index: 3;
    background-color: #f8f1f4;
    transition: all .4s;
    border: .1rem solid #303741;
    color: #303741; }
    .article__top:hover {
      opacity: 100%; }

@media only screen and (max-width: 600px) {
  .article__top {
    top: 90%; }
    .article__top-wrapper {
      top: 220vh; }
  .article__wrapper > p {
    font-size: 2.5rem;
    font-weight: 400; } }

.section-e404 {
  min-height: calc(100vh - 12.4rem - 10rem);
  margin: 0 5rem; }

.e404 {
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  color: #192b57; }
  .e404__heading {
    font-size: 6rem;
    font-weight: 700;
    padding: 7rem 0 3rem; }
  .e404__info {
    font-size: 4rem;
    font-weight: 300;
    text-align: justify; }
  .e404__link:link, .e404__link:visited {
    font-size: 3rem;
    color: #192b57;
    margin: 3rem 0; }
    .e404__link:link:hover, .e404__link:visited:hover {
      background-color: #192b57;
      color: #f5f6fa; }
