/* :root {
  --text: hsl(267, 73%, 3%);
  --page: hsl(220, 8%, 92%);
  --flair: hsl(194, 100%, 27%);
  --text-secondary: hsl(231, 11%, 34%);
  --page-secondary: hsl(224, 11%, 67%);
  --font-title: 'Spectral', serif;
  --font: 'Noto Sans JP', sans-serif;
} */

/* *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: var(--font);
  font-size: inherit;
  font-weight: 300;
} */

/* *:focus {
  outline: thick double #32a1ce;
  outline-offset: 1rem;
} */
/* 
html {
  font-size: 62.5%;
} */
/* 
header {
  padding: 2rem;
  margin: 2rem 0;
} */

/* header nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
} */

/* header nav a:link, a:visited {
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--text);
} */

/* header nav a::after, header nav a::before {
  content: "";
  width: 0;
  display: block;
  margin: 0 auto;
  height:0.2rem;
  background-color: var(--flair);
  transition: all .5s;
}

header nav a:hover::after, header nav a:hover::before {
  content: "";
  width:100%;
} */

/* body { */
  /* scroll-behavior: smooth;
  position: relative;
  box-sizing: border-box; */
  /* background-image: linear-gradient(132deg, rgba(167, 204, 225,1) 7%,rgba(236, 246, 237,1) 93%); */
  /* color: var(--text);
  font-family: var(--font);
  overflow-x: hidden;
  padding-bottom: 26rem;
  min-height: 100vh;
} */

/* h1 {
  font-size: 8rem;
  font-weight: 300;
  font-family: var(--font-title);
  text-align: center;
  margin-bottom: 3rem;
} */

/* h2 {
  font-size: 4rem;
  font-weight: 400;
  font-family: var(--font-secondary);
  text-align: center;
  margin-bottom: 3rem;
} */

/* h3 {
  font-size: 2rem;
  font-weight: 300;
  font-family: var(--font-secondary);
} */

.about__photo {
  float: left;
  border-radius: 10rem;
  margin: 0 3rem;
}

.home__intro {
  padding: 0 3rem;
  font-size: 3rem;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  position:relative;
  padding: 3rem;
  overflow: hidden;
  margin: 4rem;
  width: 30rem;
  height: 30rem;
  background-color: var(--page);
  box-shadow: .5rem 0.5rem 1.5rem var(--text-secondary);
  transition: all .3s;
}

article:hover {
  transform: translateY(-.5rem);
  background-color: #eee;
  box-shadow: .5rem 1rem 1rem var(--text-secondary);
}

article:active {
  transform: translateY(-3px);
  background-color: #eee;
  box-shadow: .5rem .8rem 1rem var(--text-secondary);
}

article img {
    width: calc(100% + 3rem);
    filter: saturate(0%);
    height:auto;
  transform: translateX(-3rem);
  position: absolute;
  top:40%;
  transition: all .4s;
}

article:hover img {
  filter: saturate(100%);
}

article a:link::after, a:visited::after {
  content:"";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.article__image {
  display: block;
  width: 100vw;
  height: 30rem;
}

.article__image {
  object-fit: cover;
}

.article__wrapper {
  font-size: 2.5rem;
  padding: 2rem 4rem;
}

.article__wrapper p::first-line {
  font-weight: bold;
  line-height: 5rem;
}

form {
  max-width: 50rem;
  margin: 0 auto;
}

label,
input,
button {
  display: block;
  font: inherit;
  color: inherit;
}

label {
  margin-top: 1.5rem;
  font-size: 2.3rem;
  line-height: 1;
}

label > span {
  color: var(--flair);
  font-size: 2rem;
}

input,
textarea {
  margin-top: 0.5rem;
  font-size: 2rem;
  border-radius: 2px;
  border: 2px solid transparent;
  box-shadow: 0 3px 6px var(--text-secondary);
  padding: 1.5rem;
  background-color: hsl(0, 0%, 98%);
  min-width: 100%;
  max-width: 100%;
}

input::placeholder {
  color: var(--flair);
}

.form__error {
  display: inline-block;
  padding: 1.5rem;
  font-size: 1.8rem;
  color:hsl(0, 100%, 32%);
}

button {
  border-radius: .8rem;
  border: 0;
  box-shadow: 0 .3rem .6rem var(--text-secondary);
  margin: 1.5rem 0 0 .5rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  letter-spacing: .2rem;
  background-color: var(--flair);
  color: var(--page);
}

button:hover {
  transform: translateY(-.3rem);
  box-shadow: 0 .4rem .8rem var(--text-secondary);
}

button:active {
  transform: translateY(-.1rem);
  box-shadow: 0 .3rem .6rem var(--text-secondary);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--text);
  color: var(--page);
  text-align: center;
  height: auto;
}

.footer__nav {
  background-color: var(--text-secondary);
}

.footer__link {
  height: 4rem;
  width: 4rem;
  margin: 1rem;
  filter: invert();
}

.footer__name {
  margin-top: 1rem;
  font-size: 6rem;
  font-family: var(--font-title);
}

.footer__credit {
  margin-right: 2rem;
}

.footer__credit, .footer__credit a {
  font-size: 2rem;
  text-align: right;
  color:var(--page-secondary);
  margin-bottom: 2rem;
}