*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  box-sizing: border-box; }

* {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400; }

.logo {
  text-decoration: none;
  font-family: "Elsie", cursive; }

h1, h2, h3 {
  font-family: "Spectral", serif; }

.u-padding-bottom {
  padding-bottom: 5rem; }

.u-padding-bottom-large {
  padding-bottom: 10rem; }

.u-padding-above {
  padding-top: 5rem; }

.button {
  text-decoration: none;
  color: #f5f6fa;
  padding: 1rem 1.7rem;
  font-size: 2.5rem;
  border: .2rem solid;
  text-align: center;
  border-radius: .3rem;
  transition: all .2s; }
  .button:hover {
    background-color: #f5f6fa;
    color: #303741; }

.icon {
  height: 5rem; }

.article-card {
  height: 30rem;
  width: 35rem;
  margin: 3rem;
  -moz-perspective: 150rem;
  perspective: 120rem;
  position: relative; }
  .article-card__side {
    box-shadow: 0 1.5rem 3rem rgba(48, 55, 65, 0.15);
    overflow: hidden;
    border-radius: .3rem;
    transition: all .8s;
    backface-visibility: hidden;
    border-radius: .3rem;
    height: 100%;
    width: 100%; }
    .article-card__side--front {
      outline: 0.4rem solid #192b57;
      transform: rotateY(0deg); }
    .article-card__side--back {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotateY(-180deg);
      height: 100%;
      width: 100%; }
  .article-card:hover .article-card__side--front {
    transform: rotateY(180deg); }
  .article-card:hover .article-card__side--back {
    transform: rotateY(0deg); }
  .article-card:focus {
    outline-offset: .5rem;
    outline: 1rem solid #192b57; }
  .article-card__tear, .article-card__thumb, .article-card__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: auto;
    min-width: 100%; }
  .article-card__thumb {
    filter: brightness(15%); }
  .article-card__title {
    text-align: center;
    font-size: 3rem;
    padding: 10% 4rem 0;
    color: #f5f6fa; }
  .article-card__link {
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4rem; }

.form {
  display: block;
  max-width: 50rem;
  margin: 0 auto; }
  .form__label, .form__input {
    display: block; }
  .form__label {
    margin: 1.5rem 0 2rem;
    font-size: 2.3rem;
    line-height: 1; }
    .form__label > span {
      color: #718094; }
  .form__input {
    font-size: 2rem;
    border-radius: .3rem;
    border: 0.4rem solid #192b57;
    padding: 1.5rem;
    background-color: #fafafa;
    min-width: 100%;
    max-width: 100%; }
    .form__input:focus {
      outline-offset: .5rem;
      outline: 1rem solid #192b57; }
  .form__error {
    display: inline-block;
    height: 2rem;
    padding: 1.5rem;
    margin-bottom: 3rem;
    font-size: 1.8rem;
    color: #a30000; }
  .form__submit {
    color: #303741;
    margin-left: 3rem; }
    .form__submit:hover {
      color: #f5f6fa;
      background-color: #303741; }

.header {
  display: flex;
  height: calc(100vh - 11.8rem); }
  .header__image-wrapper {
    width: 50%;
    overflow-y: hidden; }
  .header__image {
    min-width: initial;
    width: 100%;
    min-height: 100%; }
  .header__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 11.8rem);
    width: 50%;
    background-color: #f5f6fa;
    text-align: center; }
  .header__title {
    font-size: 10rem;
    color: #303741; }
  .header__tag {
    font-size: 4rem;
    color: #363c49;
    font-family: "Spectral", serif; }

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #303741;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1; }
  .nav__logo {
    box-sizing: border-box;
    text-align: center;
    font-size: 5rem;
    color: #f5f6fa;
    padding: 1rem 2rem; }
    .nav__logo:hover {
      outline: .2rem solid; }
  .nav__links {
    float: right;
    margin-right: .5rem; }
  .nav__link {
    text-decoration: none;
    color: #f5f6fa;
    padding: 0 2rem;
    font-weight: 400;
    font-size: 2.2rem; }
    .nav__link::after {
      content: "";
      float: left;
      margin-left: 50%;
      width: 0;
      height: .2rem;
      background-color: #dbdce1;
      transition: all .4s; }
    .nav__link:hover::after {
      margin-left: 25%;
      width: 50%; }

.links {
  display: flex;
  align-items: center;
  list-style: none; }

.footer {
  height: 10rem;
  background-color: #363c49;
  text-align: center;
  padding: 2rem 0; }
  .footer__logo {
    color: #f5f6fa;
    font-size: 5rem; }

.section-about {
  background-image: linear-gradient(90deg, rgba(48, 55, 65, 0.95) 20%, rgba(48, 55, 65, 0.75) 70%, rgba(126, 142, 165, 0.3) 90%), url(../images/layout/papers.jpeg);
  background-size: cover; }
  .section-about__content {
    padding-left: 3rem;
    width: 70%;
    color: #dbdce1;
    display: flex;
    flex-direction: column; }
  .section-about__title {
    font-size: 9rem; }
  .section-about__text {
    font-size: 3rem; }
  .section-about__contact {
    margin-left: 2rem;
    width: 18rem; }

.section-portfolio {
  background-color: #f5f6fa;
  position: relative; }
  .section-portfolio__title {
    display: block;
    text-align: center;
    font-size: 6rem;
    color: #303741; }
  .section-portfolio__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .section-portfolio__link {
    position: absolute;
    color: #303741;
    left: 50%;
    transform: translateX(-50%); }
    .section-portfolio__link:hover {
      color: #f5f6fa;
      background-color: #303741; }

.section-testimonials {
  background-image: linear-gradient(90deg, rgba(48, 55, 65, 0.95) 20%, rgba(48, 55, 65, 0.75) 70%, rgba(126, 142, 165, 0.3) 90%), url(../images/layout/testimonials.jpg);
  background-size: cover; }
  .section-testimonials__title {
    font-size: 6rem; }

.section-contact {
  display: block;
  width: 100%;
  background-color: #f5f6fa; }
  .section-contact__title {
    font-size: 6rem;
    text-align: center; }
