.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background-color: transparent;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    padding: 1rem 1.7rem;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .3rem;
    width: fit-content;
    text-align: center;
    border-radius: .3rem;
    transition: all .2s;

    &:hover {
        background-color: $colour-white-light;
        color: hsl(215, 15%, 27%);
    }
}

@media only screen and (max-width: 600px) {
    .button{
        font-size: 3.3rem;
    }
}
