.form {
    display: block;
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;

    &__label, &__input {
        display: block;
    }

    &__label {
        margin-bottom: 2.2rem;
        font-size: 2.3rem;
        font-weight: 200;
        letter-spacing: .1rem;
        line-height: .7;

        & > span {
            color: $colour-black-light;
        }
    }

    &__input {
        font-size: 2rem;
        font-weight: 300;
        border-radius: .3rem;
        border: .2rem solid hsl(215, 15%, 27%);
        padding: 1.5rem;
        background-color: hsl(340, 33%, 98%);
        min-width: 100%;
        max-width: 100%;

        &:focus {
            outline-offset: .3rem;
            outline: .4rem solid hsl(215, 15%, 27%);
        }

        &:only-of-type {
            min-height:15rem;
        }
    }

    &__error {
        display: inline-block;
        visibility: hidden;
        opacity: 0;
        height:2rem;
        min-height: 2rem;
        padding: 1.5rem;
        margin-bottom: 3rem;
        font-size: 1.8rem;
        color:hsl(0, 100%, 32%);
    }

    &__submission{
        align-items: center;
        justify-content: space-between;
    }

    &__submit {
        color:hsl(215, 15%, 27%);
        margin: 0 auto;
        margin-bottom: 2.5rem;

        &:hover {
            color:$colour-white-light;
            background-color:hsl(215, 15%, 27%);
            cursor: pointer;
        }
    }

    &__thanks{
        display: inline-block;
        visibility: hidden;
        opacity: 0;
        font-size: 2.3rem;
        font-weight: 200;
        letter-spacing: .1rem;
        margin: 0 2rem .3rem 0;
        color: $colour-black-dark;
        transition: all .3s;
    }
}

@media only screen and (max-width: 600px) {
    .form {
        max-width: 30rem;
        &__error{
            margin-bottom: 5rem;
        }
        &__submit{
            font-size: 2rem;
        }
        &__thanks{
            margin: 0 2rem;
        }
    }
}