.footer {
  position: relative;
  height: 10rem;
  background-color: $colour-grey-pink;
  padding: 2rem 0;
  
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  margin-top: 2rem;
  box-shadow: 0 0rem 0.7rem #ccc;
  z-index: 2;

  &__logo {
      height: 6rem;
      grid-column-start: 2;
  }

  &__jack {
    padding-right: 4rem;
    font-size: 2rem;
    text-align: end;
    align-self: center;
  
    & > a {
      text-decoration: none;
      font-weight: 700;
      color: $colour-black-dark;
    
        &:hover {
        color: hsl(323, 100%, 60%);
        }
    }
  }
}
